@import './base.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #faf7f1;
}

#app {
  min-height: 100vh;
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* links optional */
a {
  text-decoration: none;
  transition: 0.2s;
}
